@tailwind base;

@layer base {
    h1 {
        @apply text-3xl;
        @apply font-semibold;
    }

    h2 {
        @apply text-2xl;
        @apply font-semibold;
    }

    .shake {
        text-decoration: none;
        display: inline-block;
        animation: .8s shake infinite alternate;
    }

    @keyframes shake {
        0% {
            transform: skewX(-15deg);
        }

        5% {
            transform: skewX(15deg);
        }

        10% {
            transform: skewX(-15deg);
        }

        15% {
            transform: skewX(15deg);
        }

        20% {
            transform: skewX(0deg);
        }

        100% {
            transform: skewX(0deg);
        }
    }



    @screen sm {
        h1 {
            @apply text-5xl;
            @apply font-semibold;
        }

        h2 {
            @apply text-4xl;
        }
    }
}

@tailwind components;
@tailwind utilities;